{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'appShirt/preview.css' %}">
        <!-- Load TensorFlow.js -->
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
        <!-- Load Posenet -->
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>

        <style>
                #output {
                    position: absolute;
                    width: 1024px;
                    height: 768px;
                    z-index: 0;
                }

                #top {
                    position: absolute;
                    width: 1024px;
                    height: 768px;
                    z-index: 1;
                }

                #videoElement {
                    width: 1024px;
                    height: 768px;
                    background-color: #666;
                    visibility: hidden;
                    display: none;
                }
                </style>
    </head>
    <body>
        <div id="container">
            <video autoplay="true" id="videoElement"></video>
            <canvas id="output"></canvas>
            <canvas id="top"></canvas>
        </div>
       
    </body>

    <script src="{% static 'appShirt/preview.js' %}"></script>   
    <script>
        var video = document.getElementById('videoElement');
        var canvas = document.getElementById('output');
        var canvasContext = canvas.getContext('2d');

        var ctop = document.getElementById('top');
        var topContext = ctop.getContext('2d');
        topContext.save();
        var shirtImage = new Image();
        shirtImage.src="{% static 'appShirt/img/32546473fg.png' %}";

        var shirtSize = {};
        shirtSize.width = 102;
        shirtSize.height = 76;

        function hasGetUserMedia() {
            // Note: Opera builds are unprefixed.
            return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                        navigator.mozGetUserMedia || navigator.msGetUserMedia);
            }

        if (hasGetUserMedia()) {
            console.log('is supported!')
            if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {

                    var net = posenet.load().then(function(net){
                        function draw(video, canvasContext, net){
                            canvasContext.drawImage(video, 0,0, canvas.width, canvas.height);
                            topContext.save();
                            var pose = net.estimateSinglePose(canvas, 0.5, false, 16).then(function(pose){
                                console.log(pose);

                                var shoulderMidPoint = {};
                                shoulderMidPoint.x = (pose.keypoints[5].position.x + pose.keypoints[6].position.x)/2;
                                shoulderMidPoint.y = (pose.keypoints[5].position.y + pose.keypoints[6].position.y)/2;

                                var hipMidPoint = {};
                                hipMidPoint.x = (pose.keypoints[11].position.x + pose.keypoints[12].position.x)/2;
                                hipMidPoint.y = (pose.keypoints[11].position.y + pose.keypoints[12].position.y)/2;

                                var bodyMidPoint = {};
                                bodyMidPoint.x = (shoulderMidPoint.x + hipMidPoint.x)/2;
                                bodyMidPoint.y = (shoulderMidPoint.y + hipMidPoint.y)/2;
                                
                                console.log(bodyMidPoint.x + " - " + bodyMidPoint.y);

                                var shoulderAngle = Math.atan((pose.keypoints[6].position.y - pose.keypoints[5].position.y) / (pose.keypoints[6].position.x - pose.keypoints[5].position.x))

                                console.log(shoulderAngle);
                                //topContext.clear();
                                
                                //topContext.scale();
                                topContext.clearRect(0,0, canvas.width, canvas.height);
                                topContext.translate(-shirtSize.width / 2, -shirtSize.height / 2) ;
                                topContext.rotate(shoulderAngle);
                                topContext.translate(shirtSize.width / 2, shirtSize.height / 2) ;
                                topContext.drawImage(shirtImage,0,0, shirtSize.width, shirtSize.height);
                                topContext.restore();

                                canvasContext.beginPath();
                                canvasContext.moveTo(pose.keypoints[5].position.x, pose.keypoints[5].position.y);
                                canvasContext.lineTo(pose.keypoints[6].position.x, pose.keypoints[6].position.y);
                                canvasContext.stroke();



                            })
                            setTimeout(draw, 100, video, canvasContext, net)
                        }

                        video.srcObject = stream;

                        video.addEventListener('play', function(){
                            draw(video, canvasContext, net);
                        }, false);
                    });



                     // load the posenet model
                    /*posenet.load().then(function(net){
                        return net.estimateSinglePose(canvasContext, imageScaleFactor, flipHorizontal, outputStride)
                    }).then(function(pose){
                        console.log(pose);
                    });*/

                }).catch(function (err) {
                    console.log("Something went wrong!");
                    console.log(err)
                });
            }
        } else {
            alert('getUserMedia() is not supported in your browser');
        }
    </script>


</html>