{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'appShirt/speechapi.css' %}">



<script src="{% static 'appShirt/speechapi.js' %}"></script>

<p>Speech Api Test</p>
<p id="demo">JavaScript can change HTML content.</p>

<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
<script>

// first we make sure annyang started succesfully
if (annyang) {
  console.log('Outside');

  var hallo = function() {
    alert('Hallo Welt!');
  };

  var pullover = function() {
    alert('Pullover!');
  };

  // List of all Commands
  var commands = {
    'hallo':      hallo,
    'pullover':   pullover,
  };

  // Add our commands to annyang
  annyang.addCommands(commands);

  // Change language to german
  annyang.setLanguage('de-DE');

  // Start listening.
  annyang.start();
  console.log('Annyang started');
}
</script>
